header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-areas: "h3" 
                          "form";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #ffde59;
    position: relative;
    margin: 3px;
    padding: 18px;
    text-align: center;
}
main{
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 3px;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-items: center;
    background-color: #5ce1e6;
    text-align: center
    
}
#opcoes{
    margin-left: 44%;
    margin-right: 44%;
    margin-bottom: 20%;
}
h1{
    margin-top: 75px;
    color:#4a003a;
}
#lateral{
    display: grid;
    grid-template-areas: "h3"
                         "p";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}
main p{
    margin-top: 38px;
}